* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto; }

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

header {
  margin-bottom: 7%; }

h1 {
  font-size: 34px;
  margin-top: 10%;
  color: #8aad96;
  margin-bottom: 4%; }

.description {
  font-size: 11px; }

main {
  width: 100%; }

.memoryWrapper {
  display: block;
  text-align: center;
  max-width: 300px;
  height: 541px;
  margin-bottom: 400px;
  margin: 0 auto;
  background-color: #ECECEC;
  padding-top: 12px; }

.box {
  display: block;
  float: left;
  width: 132px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
  margin-left: 12px;
  margin-bottom: 12px;
  position: relative;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }

.box.active .front {
  transform: rotateY(180deg); }

.box .front {
  z-index: 2; }

.box .front, .box .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 120px;
  background-color: #fff; }

.box img {
  width: 100%; }

.box.active .back {
  transform: rotateY(0deg); }

.box .back {
  transform: rotateY(-180deg); }

.box.unflipped:hover .back, .box.unflipped:hover .front {
  background-color: #e5d9a7;
  border-style: none; }

footer {
  margin-top: 8%;
  padding-bottom: 100px;
  text-align: center;
  background-color: #F5F5F5; }
  footer p {
    display: block; }
  footer ul {
    text-decoration: none;
    padding-top: 24px;
    text-align: center; }
    footer ul li {
      list-style: none;
      padding-top: 32px;
      font-size: 13px;
      font-size: 1.3em;
      padding-right: 20px; }
      footer ul li .js-font-click {
        text-decoration: none;
        padding: 6px 12px 6px 12px; }
      footer ul li .Baskerville {
        font-family: 'Baskerville',serif;
        color: #e7a951;
        border: 1px solid #F0D2A6; }
      footer ul li .Helvetica {
        font-family: 'Helvetica',sans-serif;
        color: #e27eb9;
        border: 1px solid #EAAFD2; }
      footer ul li .LucidaList {
        font-family: 'Lucida Grande',sans-serif;
        color: #5bc987;
        border: 1px solid #8BDDAC; }
      footer ul li .CourierList {
        font-family: 'Courier',serif;
        color: #46b8d5;
        border: 1px solid #93D2E2; }
  footer .copyright {
    padding-top: 4%;
    line-height: 2.6rem;
    color: #ABABAB;
    text-transform: uppercase;
    letter-spacing: 2px; }

.msgbx {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 550px;
  margin-top: -150px;
  margin-left: -315px;
  background: #fff;
  border: none;
  z-index: 999;
  padding: 30px 40px 60px 40px; }

@media only screen and (min-width: 600px) {
  header {
    margin-bottom: 3%; }

  h1 {
    margin-top: 3%;
    font-size: 55px; }

  .description {
    font-size: 15px; }

  .memoryWrapper {
    max-width: 668px;
    height: 276px; }

  .box {
    width: 155px;
    height: 120px; }

  footer .learn {
    padding-top: 15%;
    padding: 40px; }
  footer li {
    display: inline-block; } }

/*# sourceMappingURL=style.css.map */
